# General
.DS_Store
*.log

# Node
node_modules/
functions/node_modules/

# Python
__pycache__/
*.py[cod]
.env
.venv/
venv/

# Android
local.properties
.gradle/
build/

# Terraform
infra/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Firebase
firebase-debug.log

